{% extends './layout/base.html' %}

{% block content %}
<div id="main">
    <div id="root">
        <section class="section">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-6 is-offset-3 mb-6">
                        <section class="hero bg-dark bg-gradient color-light">
                            <div class="hero-body text-center">
                                <p class="display-5">Speakable</p>
                                <p>A Hub to connect and feel safe.</p>
                            </div>
                        </section>
                    </div>
                    <div class="column is-4 is-offset-4">
                        <section class="hero bg-dark bg-gradient color-light">
                            <div class="hero-body text-center">
                                <div class="field"><label>Room name</label>
                                    <div class="control"><input class="input" type="text" placeholder="Room name"
                                            id="room-name-input"></div>
                                </div>
                                <div class="field">
                                    <div class="control"><a class="button is-info" id="room-name-submit">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center bg-success">
                        <h5 class="card-title">Mental illness</h5>
                        <p class="card-text">You want to talk about your mental illness? Join this safe place below and
                            have a good time :D</p>
                        <a href="room/mental-illness" class="btn btn-light">Join</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center bg-info">
                        <h5 class="card-title">Hard of hearing</h5>
                        <p class="card-text">This room is for people that are hard of hearing. Join below to connect
                            with each other</p>
                        <a href="room/hard-of-hearing" class="btn btn-light">Join</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center bg-warning">
                        <h5 class="card-title">Vision impairment</h5>
                        <p class="card-text">You don't feel comfortable because of your vision impairment?
                            join this safe place below.</p>
                        <a href="room/vision-impairment" class="btn btn-light">Join</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center bg-primary">
                        <h5 class="card-title">Brain injury</h5>
                        <p class="card-text">You want to connect with others in a safe environment that have some form
                            of brain injury? Join here</p>
                        <a href="room/brain-injury" class="btn btn-light">Join</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block JavaScript %}
<script>
    // Automatically set the focus to the room name input
    document.querySelector('#room-name-input').focus();

    // If you hit "enter" on the keyboard, trigger the click method
    document.querySelector("#room-name-input").onkeypress = function (e) {
        console.log("keycode:" + e.keyCode);
        if (e.keyCode === 13) {
            document.querySelector("#room-name-submit").click();
        }
    };

    // When you submit the form, redirect the user to the room page
    document.querySelector("#room-name-submit").onclick = function (e) {
        var roomName = document.querySelector("#room-name-input").value;
        window.location.replace(`room/${roomName}`);
    };
</script>
{% endblock JavaScript %}