{% extends './layout/base.html' %}

{% block content %}
<div id="main">
    <div id="root">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <section class="section">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-6 is-offset-3 mb-6">
                        <section class="hero is-primary">
                            <div class="hero-body">
                                <p class="title">speakable</p>
                                <p class="subtitle">A Hub for all those, who can't speak otherwise</p>
                            </div>
                        </section>
                    </div>
                    <div class="column is-4 is-offset-4">
                        <div class="field"><label>Room name</label>
                            <div class="control"><input class="input" type="text" placeholder="Room name"
                                    id="room-name-input"></div>
                        </div>
                        <div class="field">
                            <div class="control"><a class="button is-info" id="room-name-submit">Submit</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block JavaScript %}
<script>
    // Automatically set the focus to the room name input
    document.querySelector('#room-name-input').focus();

    // If you hit "enter" on the keyboard, trigger the click method
    document.querySelector("#room-name-input").onkeypress = function (e) {
        console.log("keycode:" + e.keyCode);
        if (e.keyCode === 13) {
            document.querySelector("#room-name-submit").click();
        }
    };

    // When you submit the form, redirect the user to the room page
    document.querySelector("#room-name-submit").onclick = function (e) {
        var roomName = document.querySelector("#room-name-input").value;
        window.location.replace(`room/${roomName}`);
    };
</script>
{% endblock JavaScript %}